<div class=" w3-xlarge w3-hide-large" id="git-wiki-mobile-header">
  <button class="w3-button w3-teal" id="button-open-sidebar">&#9776;</button>
  <a href="{{ '/' | relative_url }}"> 
    {% if site.logo_url %}
    <img src="{{ site.logo_url | relative_url }}" width="20px">
    {% https://github.com/Spiteless/Wiki/tree/patch-4/_includesendif %}
    {{ site.title | escape }}
  </a>
</div>
<header class="w3-sidebar w3-bar-block w3-collapse" id="git-wiki-sidebar">
  <div>
    <button class="w3-bar-item w3-button w3-large w3-hide-large" id="button-close-sidebar" onclick="sidebar_close()">Close &times;</button>
    {% if site.inc_before_header %}
    {% include {{ site.inc_before_header }} %}
    {% endif %}

    <div class="w3-hide-medium w3-hide-small">
      {% if site.logo_url %}
      {% include git-wiki/components/logo/logo.html %}
      {% else %}
      <h1><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></h1>
      {% endif %}
    </div>

    {% if site.show_wiki_pages %}
    {% include git-wiki/components/lists/page-list.html %}
    {% endif %}

    {% if site.blog_feature and site.show_wiki_posts %}
    {% include git-wiki/components/lists/post-list.html %}
    {% endif %}

    {% if site.show_downloads %}
    {% include git-wiki/components/action_btn/downloads.html %}
    {% endif %}

    {% if site.inc_after_header %}
    {% include {{ site.inc_after_header }} %}
    {% endif %}
  </div>
</header>
<script>
  const sidebar = document.getElementById("git-wiki-sidebar");
  const sidebar_open_button = document.getElementById("button-open-sidebar");

  function sidebar_open(event) {
    //if sidebar is active, allow button click to close sidebar
    if (!sidebar_open_button.classList.contains("sidebar-open")) {
      event.stopPropagation(); //prevents bubble effect, stopping sidebar_close() on document event listener
      sidebar_open_button.classList.add("sidebar-open");
      sidebar.style.display = "block";
    }
  }

  function sidebar_close() {
    sidebar_open_button.classList.remove("sidebar-open");
    sidebar.style.display = "none";
    sidebar.style.position = "inherit";
  }

  document.addEventListener(
    "click",
    function (event) {
      if (
        event.target.matches("#button-close-sidebar") || //user clicks close button
        !event.target.closest(".w3-sidebar") || //user clicks outside sidebar
        event.target.matches("a") //user clicks a link (for internal page navigation)
      ) {
        sidebar_close();
      }
    },
    false
  );

  document.addEventListener("keydown", (event) => {
    if (event.key === "Escape") {
      sidebar_close();
    }
  });

  sidebar_open_button.addEventListener("click", sidebar_open, false);
</script>
