Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/FAQ' | relative_url }}">FAQ</a></li>
  <li><a href="{{ '/common_commands' | relative_url }}">Common Commands</a></li>
  <li><a href="{{ '/AwesomeTalon' | relative_url }}">A Sortlist of Talon Resources</a></li>
  <li><a href="{{ '/videos' | relative_url }}">Videos</a></li>
  <li><a href="{{ '/InstallingDragonWindows' | relative_url }}">Installing Dragon for Windows</a></li>
</ul>
