h1 {font-size: 2.986em;}
h2 {font-size: 2.488em;}
h3 {font-size: 2.074em;}
h4 {font-size: 1.728;}
h5 {font-size: 1.44em;}
h6 {font-size: 1.2em;}

body {
  color: black;
  font-size: initial;
}
code, pre {
  font-size: .9em;
  color: inherit;
}

table {max-width: 70rem;}

details {
  padding: .5em;
  margin: 1.25em;
  box-shadow: 1px 1px 2px #bbbbbb;
  background-color: #eeeeee;
}

details > summary {
  cursor: pointer;
}

details > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#git-wiki-toc li ol {
  margin:  0px;
}

ul.list-reset li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style: none;
}

ul.list-reset {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
   list-style: none;
}

.sidebar {
  float: left;
  width: 280px;
}

#git-wiki-sidebar {
  float: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.main-navigation ul {
  display: flex;
}

.main-navigation ul li {
 padding-right: 20px;
}

.git-wiki-downloads li {
  list-style: none;
  list-style-type: none;
  font-size: 14px;
  display: block;
  color:#222
}