h1 {font-size: 3.125em;}
h2 {font-size: 2.618em;}
h3 {font-size: 1.931em;}
h4 {font-size: 1.618;}
h5 {font-size: 1.194em;}
h6 {font-size: 1em;}

body {
  color: black;
  font-size: initial;
}
code, pre {
  font-size: .9em;
  color: inherit;
}

table {max-width: 70rem;}

details {
  padding: .5em;
  margin: 1.25em;
  box-shadow: 1px 1px 2px #bbbbbb;
  background-color: #eeeeee;
}

details > summary {
  cursor: pointer;
}

details > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
